div.formInput {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 0.15rem;
  label {
    color: black;
    margin-right: 2rem;
    font-size: 1.12rem;
    font-weight: 500;
  }
  input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid gray;

    &::placeholder {
      align-items: center;
      transform: translateY(15%);
      font-size: 1.05rem;
    }
  }
  span {
    font-size: 0.8rem;
    padding: 3px;
    padding-top: 0;
    color: red;
    display: none;
    width: 100%;
  }
}
input:invalid[focused="true"] {
  border-color: red;
  margin: 10px 0px 0px 0px;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
